
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
}

body,html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-cards{

    display: flex;
    justify-content: center;
    align-items: center;
}


.Imagen-registro {
    
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    /*max-width: 100%;*/

}

.card{
    width: 600px;
}